{:kotoba.app/id "cloud.itonami.isic-1623", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicjsjax6oanvdfdofqw6nwzt2q3pbei662adcytfjzj3rrchco6em", :kotoba.app/embed-url "ipfs://bafkreicjsjax6oanvdfdofqw6nwzt2q3pbei662adcytfjzj3rrchco6em", :published {:archive "https://kotobase.net/ipfs/bafkreicjsjax6oanvdfdofqw6nwzt2q3pbei662adcytfjzj3rrchco6em", :size 72897, :put-status 201, :get-status 200, :at "2026-08-15T13:39:34.774Z"}}
